<h1>Comments for <%= @recommendation.name %></h1>

<ul>
<% @comments.each do |comment|%>
  <li><p><strong> <%= comment.title %> </strong></p>
      <p>"<%= comment.content%>" by: <%= comment.user.username%>
      <p>About this recommendation: <strong><%= link_to comment.recommendation.name,recommendation_path(comment.recommendation_id) %></strong></p>
  </li>
<% end %>
</ul>
