<% if @comment.errors %>
  <ul>
    <%  @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <%end%>
  </ul>
<% end %>

<h1>Let us know what you think of <%= @comment.recommendation.name %></h1>

<%= form_for([@comment.recommendation, @comment]) do |f| %>

  <%= f.hidden_field :recommendation_id, :value => @recommendation.id %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <br>

  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>
  <br>

  <%= f.submit %>

<% end %>
