<h1>Edit <%= @recommendation.name %></h1>

<%= form_for(@recommendation) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>

  <%= f.label :image %>
  <%= f.file_field :image %>
  <br>
  <br>

  <%= f.label :location %>
  <%= f.text_field :location %>
  <br>
  <br>

  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <br>

  <%= f.submit "Edit" %>

<% end %>
