<h1>All Recommendations</h1>

<div class="recos">
  <% @recommendations.each do |recommendation| %>

  <div class ="solo">
    <p><img src="<%= recommendation.image_url %>" alt="<%= recommendation.name %>" height="200" width="200"><p>
    <br>
    <p><%= recommendation.name %>
    <br>
    Location: <%= recommendation.location %>
    <br>
    Description: <%= recommendation.description %>
    </p>
    <br>
    <%= link_to "Learn more and Comment", recommendation_path(recommendation) %>
    <br>
    <%= link_to "See Comments", recommendation_comments_path(recommendation) %>
    <br>
    <br>
    <br>
  </div>

  <% end %>
</div>
