<h1>All Recommendations</h1>

<div class="recos">
  <div class="container">
    <div class="row">

  <% @recommendations.each do |recommendation| %>
  <div class="col-sm-6">
  <div class ="solo" class="card">
    <div class="card-img-top"> <% if recommendation.image.attached? %> <img src="<%= (url_for(recommendation.image)) %>" alt="<%= recommendation.name %>" width="440px" height="400px"> <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= recommendation.name %></h5>
      <p class="card-text">Location: <%= recommendation.location %><br>
        Description: <%= recommendation.description %>
      </p>
      <% if logged_in? && recommendation.user_id !== current_user.id %>
      <%= button_to "Learn more and Comment", recommendation_path(recommendation), method: :get, class:"buttons" %>
      <% end %>
      <%= button_to "See Comments", recommendation_comments_path(recommendation), method: :get, class:"buttons" %>
    </div>
  </div>
  </div>

  <% end %>
    </div>
  </div>
</div>

<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
